.placeholder-nav {
    width: 100%;
    height: 155px;
    background-color: darkkhaki;
}
.content-title-blog {
    width: 175px;
    height: 45px;
    // margin-top: 10px;
    margin-left: 120px;
    font-family: "gill-sans-nova", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    border-bottom: solid 2px #000;
    margin-bottom: 20px;
}
.wrapper-blog-page {
    width: 800px;
    height: 780px;
    // background-color: #245;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    
    .blog-post-card {
        width: 390px;
        height: 220px;
        // background-color: salmon;
        display: flex;
        justify-content: space-between;
        

        .date-block {
            width: 50px;
            height: 210px;
       
        .date-box {
        width: 46px;
        height: 46px;
        background-color: #EE4367;
        color: #fff;
        text-align: center;

            .post-dd {
            font-family: "gill-sans-nova";
            font-size: 20px;
            font-weight: 500;
                }
        .post-mon {
            font-family: "gill-sans-nova";
            font-size: 11px;
            font-weight: 200;
            margin-top: -5px;
          } 
        }
     }  
    .blog-card-content {
        width: 360px;
        height: 277px;
        // background-color: rgba($color: #000000, $alpha: 0.3);
        margin-left: 10px;
        
   
        .blog-card-img {
            max-width: 320px;
            height: 107px;
            overflow: hidden;
            object-position: center;
            margin-bottom: 8px;
        }
        .card-content-black {
            font-family: "gill-sans-nova";
            font-size: 15px;
            margin-bottom: 8px;
        }
        .card-content-pink {
            font-family: "gill-sans-nova";
            font-size: 13px;
            font-weight: 400;
            color: #EE4367;
        }
    }
    }

}