.gal-hero-3 {
    width: 100%;
    height: 310px;
    background-image: url(../images/gallery/3-jade.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .hero-img-overlay {
        width: inherit;
        height: inherit;
        
        .gal-number-3 {
            font-family: "gill-sans-nova";
            font-size: 240px;
            padding-top: 32px;    
            color: #08AD69;
            font-weight: 400;
            text-shadow: 5px 5px 6px rgba($color: #000000, $alpha: 0.16);
        }
        .gal-title-3 {
            font-family: "gill-sans-nova";
            font-size: 107px;
            margin-top: -189px;
            margin-left: 210px;
            color: #08AD69;
            font-weight: 400;
            text-shadow: 5px 5px 6px rgba($color: #000000, $alpha: 0.16);
        }
    }

}
.gallery-text-3 {
    height: 175px;
    width: 100%;
    column-count: 2;
    column-gap: 10px;
    margin-top: 30px;
    column-fill: auto;

    p {
        font-family: "gill-sans-nova";
        font-size: 16px;
        font-weight: 200;
        font-style: italic;
        line-height: normal; 

    }
}