.section {
    width: 1280px;
  }  

#section5 {
    height: 800px;
    background-color: aquamarine;
   
    .about-hero-wrapper {
        padding-top: 178px;
        padding-left: 151px;

       
    .about-hero-history {
        width: 979.5px;
        height: 378.75px;
        background-image: url(../images/about.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
        .about-hero-overlay {
            background-color: rgba($color: #FFD140, $alpha: 0.8);
            height: 378.75px;
        }
            .our-history {
                font-size: 25px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                
                margin-top: -26px;
                width: 229px;
                height: 34px;
                border-bottom: solid 2px #000000;
                }
            }    
        } 

    
    .about-text {
        padding-top: 52px;
        padding-left: 150px;
        font-family: 'gill-sans-nova';
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
            }          
        }
    

        #sectionfooter {
           min-height: 464px;
            background-color: #EE4367;
            padding-top: 37px;
            .logo {
            width: 92px;
            height: 38px;
            background-image: url(../images/logo-white.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
    
            margin-left: auto;
            margin-right: auto;
        }
        .address {
            font-family: "gill-sans-nova", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 16px;
            color: #fff;
            p{
            margin-top: 45px;
            text-align: center;
                }  
            } 
            .emailCapture {
                margin-left: 250px;
                width: 696px;
                display: flex;
            // justify-content: space-between;
                p {
                    padding-left: 15px;
                    padding-top: 16px;
                    font-family: gill-sans-nova, sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 16px;
                    color: rgba($color: #ffffff, $alpha: 0.5);
                    border: solid 1px #EE4367;
                    width: 529px;
                    height: 60px;
                    background-color: rgba($color: #ffffff, $alpha: 0.25);
                }
                    .subscribe {
                        width: 167px;
                        height: 60px;
                        background-color: #fff;
                        text-align: center;
                        padding-top: 19px;
                        color: #EE4367;
                        border: solid 1px #fff;
                        font: inherit;
                        margin-bottom: 15px;
                    }
                }
                .social-icons {
                    width: 152px;
                    height: auto;
                    display: flex;
                    justify-content: space-between;  
                    margin: 0 auto;
                    padding-top: 15px;
                }
                .copy-notice {
                    text-align: center;
                    padding-top: 44px;
                    p {
                        color: rgba($color: #ffffff, $alpha: 0.5);
                }
            }
          }
