* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    // .red-footer {
    //     width: 1280px;
    //     height: 455px;
    //     background-color: #ee4367;
    // }

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}

.section {
    width: 100%;
}


