* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding-left: 2px;
  padding-right: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.section {
  width: 100%;
}

.section {
  width: 100%;
}

#sectionhero {
  width: 100%;
  height: 500px;
  background-color: #FFD140;
  background-image: url(../images/home-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#sectionhero .overlay-hero {
  height: 500px;
  background-color: rgba(255, 209, 64, 0.8);
}
#sectionhero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#sectionhero .hero-text h2 {
  font-family: "pt-serif", serif;
  margin: 0 auto;
  padding-top: 140px;
  font-size: 40px;
  color: #ffffff;
}
#sectionhero .hero-text h3 {
  font-family: "gill-sans-nova";
  font-size: 20px;
  font-style: italic;
  color: #EE4367;
}
#sectionhero .hero-text p {
  font-family: "gill-sans-nova";
  font-size: 20px;
  font-style: italic;
  color: #ffffff;
  text-align: center;
  margin: 46px;
}
#sectionhero .hero-text button {
  width: 121px;
  height: 40px;
  background-color: #EE4367;
  color: #fff;
}

#section2 {
  height: 320px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#section2 .yellow-text {
  width: 789px;
  height: 90px;
  margin-top: 77px;
  margin-left: 176px;
  color: #FFD140;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 15px;
  padding-bottom: 20px;
}
#section2 .authorName-pink h6 {
  color: #EE4367;
  font-family: pt-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin-left: 176px;
  margin-top: 20px;
}
#section2 .authorName-gray h6 {
  color: #777;
  font-family: pt-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  margin-left: 176px;
  margin-top: -15px;
  padding-bottom: 76px;
}

#section3 {
  height: 500px;
  background-color: #540D6E;
}

.heading-home-purple {
  width: 392px;
  height: 44px;
  color: #fff;
  font-family: "gill-sans-nova";
  font-size: 25px;
  margin-left: 40px;
  margin-top: 26px;
  border-bottom: solid 1px #ffffff;
}

.container-events {
  width: 980px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.container-events .home-events {
  min-width: 200px;
  height: 210px;
}
.container-events .home-events .pink-date-dd {
  width: 50px;
  height: 50px;
  margin-top: 35px;
  margin-left: 40px;
  padding-top: 6px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #EE4367;
  font-size: 19px;
  font-family: "gill-sans-nova";
  font-weight: 400;
  color: #ffffff;
}
.container-events .home-events .pink-date-mon {
  font-size: 10px;
  color: #ffffff;
  margin-left: 58px;
  margin-top: -22px;
}
.container-events .home-events #event-title {
  color: #ffffff;
  margin-left: 118px;
  margin-top: -45px;
  font-family: "gill-sans-nova";
  font-size: 14px;
  font-weight: 300;
}
.container-events .home-events #event-subtitle {
  color: #EE4367;
  margin-left: 118px;
  margin-top: -9px;
  font-family: "gill-sans-nova";
  font-size: 11px;
  font-weight: 200;
}

#section4 {
  min-height: 400px;
  background-color: #EE4367;
}
#section4 .logo {
  width: 92px;
  height: 38px;
  background-image: url(../images/logo-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}
#section4 .address {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}
#section4 .address p {
  margin-top: 25px;
  text-align: center;
}
#section4 .emailCapture {
  margin-left: 210px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#section4 .emailCapture p {
  padding-left: 15px;
  padding-top: 16px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  border: solid 1px #EE4367;
  width: 529px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.25);
}
#section4 .emailCapture .subscribe {
  width: 167px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  padding-top: 19px;
  color: #EE4367;
  border: solid 1px #fff;
  font: inherit;
  margin-bottom: 15px;
}
#section4 .social-icons {
  width: 152px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
}
#section4 .copy-notice {
  text-align: center;
  padding-top: 44px;
}
#section4 .copy-notice p {
  color: rgba(255, 255, 255, 0.5);
}

nav {
  position: fixed;
  z-index: 3;
  height: 80px;
  width: 75%;
  background-color: rgba(102, 136, 119, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 120px;
  margin-top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 3px #fff;
}
nav .logo {
  width: 42px;
  height: 42px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
nav .nav-links {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "gill-sans-nova";
  font-size: 15px;
}
nav .nav-links a span {
  color: #EE4367;
}

#nav-b {
  position: fixed;
  z-index: 3;
  height: 80px;
  width: 75%;
  background-color: rgba(102, 136, 119, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 3px #000 !important;
}
#nav-b .logo {
  width: 42px;
  height: 42px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#nav-b .nav-links {
  width: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#nav-b .nav-links a {
  color: #000000 !important;
  text-decoration: none;
  font-family: "gill-sans-nova";
  font-size: 15px;
}
#nav-b .nav-links a span {
  color: #EE4367;
}

.footer {
  margin-top: 20px;
  width: 100%;
  height: 360px;
  background-color: #ee4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .logo {
  width: 92px;
  height: 42px;
  margin: 0 auto;
  background-image: url(../images/logo-white.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .street-addy p {
  text-align: center;
  color: #ffffff;
  font-family: "gill-sans-nova";
  font-size: 14px;
  font-weight: 200;
}
.footer .sub-field {
  width: 600px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .sub-field p {
  font-size: 16px;
  font-family: "gill-sans-nova";
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.footer .sub-field .subscribe-button {
  width: 125px;
  height: 45px;
  background-color: #ffffff;
  color: #ee4367;
  padding-top: 14px;
  padding-left: 20px;
}
.footer .social-links {
  width: 140px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .social-links img {
  width: 25px;
  height: 25px;
}
.footer .copyright {
  font-family: "gill-sans-nova";
  font-size: 12px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
}

.section {
  width: 1280px;
}

#section5 {
  height: 800px;
  background-color: aquamarine;
}
#section5 .about-hero-wrapper {
  padding-top: 178px;
  padding-left: 151px;
}
#section5 .about-hero-wrapper .about-hero-history {
  width: 979.5px;
  height: 378.75px;
  background-image: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#section5 .about-hero-wrapper .about-hero-history .about-hero-overlay {
  background-color: rgba(255, 209, 64, 0.8);
  height: 378.75px;
}
#section5 .about-hero-wrapper .about-hero-history .our-history {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -26px;
  width: 229px;
  height: 34px;
  border-bottom: solid 2px #000000;
}
#section5 .about-text {
  padding-top: 52px;
  padding-left: 150px;
  font-family: "gill-sans-nova";
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}

#sectionfooter {
  min-height: 464px;
  background-color: #EE4367;
  padding-top: 37px;
}
#sectionfooter .logo {
  width: 92px;
  height: 38px;
  background-image: url(../images/logo-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
#sectionfooter .address {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}
#sectionfooter .address p {
  margin-top: 45px;
  text-align: center;
}
#sectionfooter .emailCapture {
  margin-left: 250px;
  width: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#sectionfooter .emailCapture p {
  padding-left: 15px;
  padding-top: 16px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  border: solid 1px #EE4367;
  width: 529px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.25);
}
#sectionfooter .emailCapture .subscribe {
  width: 167px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  padding-top: 19px;
  color: #EE4367;
  border: solid 1px #fff;
  font: inherit;
  margin-bottom: 15px;
}
#sectionfooter .social-icons {
  width: 152px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
}
#sectionfooter .copy-notice {
  text-align: center;
  padding-top: 44px;
}
#sectionfooter .copy-notice p {
  color: rgba(255, 255, 255, 0.5);
}

.section {
  width: 100%;
}

#section5 {
  height: 670px;
  background-color: #fff;
}
#section5 .about-hero-wrapper {
  padding-top: 138px;
  padding-left: 126px;
}
#section5 .about-hero-wrapper .about-hero-history {
  width: 752px;
  height: 290px;
  background-image: url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#section5 .about-hero-wrapper .about-hero-history .about-hero-overlay {
  background-color: rgba(255, 209, 64, 0.8);
  height: 290px;
}
#section5 .about-hero-wrapper .about-hero-history .our-history {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -26px;
  width: 229px;
  height: 34px;
  border-bottom: solid 2px #000000;
}
#section5 .about-text {
  width: 750px;
  height: 73px;
  padding-top: 42px;
  padding-left: 120px;
  font-family: "gill-sans-nova";
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

#sectionfooter {
  min-height: 415px;
  background-color: #EE4367;
  padding-top: 37px;
}
#sectionfooter .logo {
  width: 92px;
  height: 38px;
  background-image: url(../images/logo-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}
#sectionfooter .address {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}
#sectionfooter .address p {
  margin-top: 45px;
  text-align: center;
}
#sectionfooter .emailCapture {
  margin-left: 190px;
  width: 696px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#sectionfooter .emailCapture p {
  padding-left: 15px;
  padding-top: 16px;
  font-family: gill-sans-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  border: solid 1px #EE4367;
  width: 529px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.25);
}
#sectionfooter .emailCapture .subscribe {
  width: 167px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  padding-top: 19px;
  color: #EE4367;
  border: solid 1px #fff;
  font: inherit;
  margin-bottom: 15px;
}
#sectionfooter .social-icons {
  width: 152px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
}
#sectionfooter .copy-notice {
  text-align: center;
  padding-top: 44px;
}
#sectionfooter .copy-notice p {
  color: rgba(255, 255, 255, 0.5);
}

.section {
  width: 100%;
}

#section6 {
  height: 680px;
}
#section6 .placeholder-block {
  width: 100%;
  height: 90px;
  background-color: cadetblue;
}
#section6 .placeholder-block gallery-links {
  width: 300px;
  height: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #EE4367;
  margin-bottom: -30px;
}

.content-title {
  width: 229px;
  height: 45px;
  margin-top: 50px;
  margin-left: 120px;
  font-family: "gill-sans-nova", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  border-bottom: solid 2px #000;
  margin-bottom: 20px;
}

.gallery-container {
  width: 750px;
  height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: 120px;
}

#img1 {
  width: 374px;
  height: 143px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#img1 #img1::after {
  background-color: rgba(255, 209, 64, 0.7);
  position: absolute;
  z-index: 6;
}

#img2 {
  width: 143px;
  height: 143px;
  -o-object-fit: cover;
     object-fit: cover;
}

#img3 {
  width: 202px;
  height: 143px;
  -o-object-fit: cover;
     object-fit: cover;
}

#img4 {
  width: 461px;
  height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
}

#img5 {
  width: 272px;
  height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top {
  height: 100px;
  width: 100%;
}

.gal-container {
  width: 76.5%;
  height: 540px;
  margin: 0 auto;
}
.gal-container .gal-hero-1 {
  width: 100%;
  height: 310px;
  background-image: url(../images/gallery/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gal-container .gal-hero-1 .hero-img-overlay {
  width: inherit;
  height: inherit;
}
.gal-container .gal-hero-1 .hero-img-overlay .gal-number {
  font-family: "gill-sans-nova";
  font-size: 240px;
  padding-top: 32px;
  color: #FFD140;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.gal-container .gal-hero-1 .hero-img-overlay .gal-title {
  font-family: "gill-sans-nova";
  font-size: 107px;
  margin-top: -189px;
  margin-left: 210px;
  color: #FFD140;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.gal-container .gallery-text {
  height: 175px;
  width: 100%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 20px;
  -webkit-column-fill: auto;
     -moz-column-fill: auto;
          column-fill: auto;
}
.gal-container .gallery-text p {
  font-family: "gill-sans-nova";
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  line-height: normal;
}

.footer {
  margin-top: 60px;
  width: 100%;
  height: 360px;
  background-color: #ee4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .logo {
  width: 92px;
  height: 42px;
  margin: 0 auto;
  background-image: url(../images/logo-white.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .street-addy p {
  text-align: center;
  color: #ffffff;
  font-family: "gill-sans-nova";
  font-size: 14px;
  font-weight: 200;
}
.footer .sub-field {
  width: 504px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .sub-field p {
  font-family: "gill-sans-nova";
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.footer .sub-field .subscribe-button {
  width: 125px;
  height: 45px;
  background-color: #ffffff;
  color: #ee4367;
  padding-top: 14px;
  padding-left: 20px;
}
.footer .social-links {
  width: 140px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .social-links img {
  width: 25px;
  height: 25px;
}
.footer .copyright {
  font-family: "gill-sans-nova";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.gal-hero-2 {
  width: 100%;
  height: 310px;
  background-image: url(../images/gallery/2-pink.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gal-hero-2 .hero-img-overlay {
  width: inherit;
  height: inherit;
}
.gal-hero-2 .hero-img-overlay .gal-number-2 {
  font-family: "gill-sans-nova";
  font-size: 240px;
  padding-top: 32px;
  color: #EE4367;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.gal-hero-2 .hero-img-overlay .gal-title-2 {
  font-family: "gill-sans-nova";
  font-size: 107px;
  margin-top: -189px;
  margin-left: 210px;
  color: #EE4367;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}

.gallery-text-2 {
  height: 175px;
  width: 100%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 30px;
  -webkit-column-fill: auto;
     -moz-column-fill: auto;
          column-fill: auto;
}
.gallery-text-2 p {
  font-family: "gill-sans-nova";
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  line-height: normal;
}

.gal-hero-3 {
  width: 100%;
  height: 310px;
  background-image: url(../images/gallery/3-jade.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gal-hero-3 .hero-img-overlay {
  width: inherit;
  height: inherit;
}
.gal-hero-3 .hero-img-overlay .gal-number-3 {
  font-family: "gill-sans-nova";
  font-size: 240px;
  padding-top: 32px;
  color: #08AD69;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.gal-hero-3 .hero-img-overlay .gal-title-3 {
  font-family: "gill-sans-nova";
  font-size: 107px;
  margin-top: -189px;
  margin-left: 210px;
  color: #08AD69;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}

.gallery-text-3 {
  height: 175px;
  width: 100%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 30px;
  -webkit-column-fill: auto;
     -moz-column-fill: auto;
          column-fill: auto;
}
.gallery-text-3 p {
  font-family: "gill-sans-nova";
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  line-height: normal;
}

.gal-hero-4 {
  width: 100%;
  height: 310px;
  background-image: url(../images/gallery/4-purple.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gal-hero-4 .hero-img-overlay {
  width: inherit;
  height: inherit;
}
.gal-hero-4 .hero-img-overlay .gal-number-4 {
  font-family: "gill-sans-nova";
  font-size: 240px;
  padding-top: 32px;
  color: #540D6E;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.gal-hero-4 .hero-img-overlay .gal-title-4 {
  font-family: "gill-sans-nova";
  font-size: 98px;
  margin-top: -189px;
  margin-left: 210px;
  color: #540D6E;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}

.gallery-text-4 {
  height: 175px;
  width: 100%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 30px;
  -webkit-column-fill: auto;
     -moz-column-fill: auto;
          column-fill: auto;
}
.gallery-text-4 p {
  font-family: "gill-sans-nova";
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  line-height: normal;
}

.gal-hero-5 {
  width: 100%;
  height: 310px;
  background-image: url(../images/gallery/5-mint.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gal-hero-5 .hero-img-overlay {
  width: inherit;
  height: inherit;
}
.gal-hero-5 .hero-img-overlay .gal-number-5 {
  font-family: "gill-sans-nova";
  font-size: 240px;
  padding-top: 32px;
  color: #3BCEAB;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}
.gal-hero-5 .hero-img-overlay .gal-title-5 {
  font-family: "gill-sans-nova";
  font-size: 98px;
  margin-top: -189px;
  margin-left: 210px;
  color: #3BCEAB;
  font-weight: 400;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}

.gallery-text-5 {
  height: 175px;
  width: 100%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 30px;
  -webkit-column-fill: auto;
     -moz-column-fill: auto;
          column-fill: auto;
}
.gallery-text-5 p {
  font-family: "gill-sans-nova";
  font-size: 16px;
  font-weight: 200;
  font-style: italic;
  line-height: normal;
}

.placeholder-nav {
  width: 100%;
  height: 155px;
  background-color: darkkhaki;
}

.content-title-blog {
  width: 175px;
  height: 45px;
  margin-left: 120px;
  font-family: "gill-sans-nova", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  border-bottom: solid 2px #000;
  margin-bottom: 20px;
}

.wrapper-blog-page {
  width: 800px;
  height: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.wrapper-blog-page .blog-post-card {
  width: 390px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper-blog-page .blog-post-card .date-block {
  width: 50px;
  height: 210px;
}
.wrapper-blog-page .blog-post-card .date-block .date-box {
  width: 46px;
  height: 46px;
  background-color: #EE4367;
  color: #fff;
  text-align: center;
}
.wrapper-blog-page .blog-post-card .date-block .date-box .post-dd {
  font-family: "gill-sans-nova";
  font-size: 20px;
  font-weight: 500;
}
.wrapper-blog-page .blog-post-card .date-block .date-box .post-mon {
  font-family: "gill-sans-nova";
  font-size: 11px;
  font-weight: 200;
  margin-top: -5px;
}
.wrapper-blog-page .blog-post-card .blog-card-content {
  width: 360px;
  height: 277px;
  margin-left: 10px;
}
.wrapper-blog-page .blog-post-card .blog-card-content .blog-card-img {
  max-width: 320px;
  height: 107px;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 8px;
}
.wrapper-blog-page .blog-post-card .blog-card-content .card-content-black {
  font-family: "gill-sans-nova";
  font-size: 15px;
  margin-bottom: 8px;
}
.wrapper-blog-page .blog-post-card .blog-card-content .card-content-pink {
  font-family: "gill-sans-nova";
  font-size: 13px;
  font-weight: 400;
  color: #EE4367;
}

.placeholder-nav {
  width: 100%;
  height: 125px;
  background-color: #fff;
}

.blog-hero {
  width: 750px;
  height: 230px;
  background-image: url(../images/blog.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.blog-hero .blog-hero-overlay {
  width: 750px;
  height: 230px;
  background-color: rgba(238, 67, 103, 0.6);
}
.blog-hero .blog-hero-overlay .date-box {
  width: 118px;
  height: 118px;
  background-color: #EE4367;
  margin: 0 auto;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog-hero .blog-hero-overlay .date-box .bold-date-dd {
  margin-top: 10px;
  font-family: "gill-sans-nova";
  font-size: 42px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: -10px;
}
.blog-hero .blog-hero-overlay .date-box .bold-date-month {
  font-family: "gill-sans-nova";
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  text-align: center;
}
.blog-hero .blog-hero-date {
  height: 59px;
  background-color: #EE4367;
}
.blog-hero .blog-hero-date .blog-hero-month {
  width: 118px;
  height: 59px;
  background-color: #EE4367;
  font-family: "gill-sans-nova";
  color: #fff;
  font-size: 31px;
  font-weight: 200;
}

.blog-post-content {
  width: 750px;
  height: 550px;
  margin: 0 auto;
}
.blog-post-content #header1, .blog-post-content #header2 {
  font-family: "gill-sans-nova";
  font-size: 20px;
  color: #EE4367;
  font-weight: 400;
  margin-top: 41px;
  margin-bottom: 23px;
}
.blog-post-content p {
  font-family: "gill-sans-nova", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: #000;
}

.contact-wrapper {
  height: 490px;
  width: 750px;
  margin: 0 auto;
}

.pageTitle-underlined {
  width: 200px;
  height: 30px;
  border-bottom: solid 2px #000;
  font-family: gill-sans-nova;
  font-size: 25px;
  line-height: 1.1;
  margin-top: 40px;
}

.contact-left {
  width: 400px;
  height: 525px;
  margin-top: 40px;
}
.contact-left .nameBox {
  width: 395px;
  height: 45px;
  background-color: lightgray;
  font-family: "gill-sans-nova";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 15px;
}
.contact-left .emailBox {
  width: 395px;
  height: 45px;
  background-color: lightgray;
  font-family: "gill-sans-nova";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 15px;
}
.contact-left .companyBox {
  width: 395px;
  height: 45px;
  background-color: lightgray;
  font-family: "gill-sans-nova";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 15px;
}
.contact-left .messageBox {
  width: 395px;
  height: 145px;
  background-color: lightgray;
  font-family: "gill-sans-nova";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-top: 12px;
  margin-bottom: 22px;
}
.contact-left .sendMessageBttn {
  width: 167px;
  height: 45px;
  background-color: #EE4367;
  color: #fff;
  font-family: "gill-sans-nova";
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  padding-top: 12px;
  margin-bottom: 15px;
}

.contact-right .map img {
  max-width: 306px;
  height: 338px;
  position: absolute;
  top: 0;
  margin-left: 440px;
  margin-top: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}